<body id="background">
  <div id="main">

    <%= image_tag "https://encrypted-tbn2.gstatic
    .com/images?q=tbn:ANd9GcR2v8jGQFEHwDE0bEIm2Sofs-0n5RUWyiNtY_JQw46IozVB-YPU" %> <br><br>

    <h1> <%= @user.email %> </h1> <br>

    <h3> Candidate: </h3> <br>
    <h3> Currently: </h3> <br>

    <h2> Experience </h2>
    <ul>
      <li></li>
    </ul>

    <h2> Education </h2>
    <ul>
      <li></li>
    </ul>

    <h2>Accolades</h2>
    <ul>
      <li></li>
    </ul>

    <h2>Connections</h2>
    <ul>
      <li></li>
    </ul>

  </div>
</body>
