<nav class="navbar navbar-expand-lg ">
  <a class="navbar-brand" href="#">Votifii</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav nav-pills">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class: "nav-link"%>
      </li>
      <li class="nav-item active">
        <%= link_to "Elections", elections_path , class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to "Hi, #{current_user.email}", edit_user_registration_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Sign Out', destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link"%>
      </li>
    </ul>
  </div>
</nav>