<nav class="navbar navbar-expand-lg">
  <span class="navbar-brand non-pressable">
    Votifii
  </span>
  <div class="collapse navbar-collapse" id="navbarNav">
        <%= link_to "Home", root_path, class: "nav-link"%>
      </span>
      <span class="nav-item">
        <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
      </span>
      <span class="nav-item">
        <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
      </span>
  </div>
</nav>