<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">Votifii</a>
  <div class="nav" id="navbarNav">
      <span class="nav-item active">
        <%= link_to "Home", root_path, class: "nav-link"%>
      </span>
      <span class="nav-item">
        <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
      </span>
      <span class="nav-item">
        <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
      </span>
  </div>
</nav>