
<body id="background">
    <div id="main">
		<h1>Edit Election</h1>
		<%if @election.user == current_user %> <!--Prevent editing-->

			<%= render "form", election: @election %>

			<%= render "candidates/showCandidates", election: @election %>

			<%= render "candidates/addCandidates", election: @election %>
		<% else %>
			<h2>Cannot edit: No Permission</h2>
		<%end%>
		<%= link_to "Return", election_path(@election) %> <!--If someone gets stuck -->
	</div>
</body>