<body id="background">
  <div id="main">

    <h1>All Elections</h1>

    <ul>
      <% @users_with_elections.each do |user| %>
        <li>
          <%= "Host: #{user.email}" %>
          <ul>
            <% user.elections.each do |election| %>
              <li>
                <%= link_to election.title, election %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>

    <%= link_to "New Election", new_election_path %>
  </div>
</body>

