<ul>
    <% if @election.status == 'public' %> <!-- Check if the election status is set to 'public' -->
      <%= form_with(model: [@election, Candidate.new], url: increment_votes_election_candidate_path(@election), method: :patch) do |form| %> <!-- Create a form using the form_with helper for updating candidate votes via a patch request -->
        <select name="candidate_id"> <!-- Create a dropdown menu for selecting a candidate -->
          <% @election.candidates.order(:name).each do |candidate| %> <!-- Iterate through the election's candidates, ordering them by name -->
            <option value="<%= candidate.id %>"><%= candidate.name %></option> <!-- Create an option for each candidate in the dropdown menu -->
          <% end %>
        </select>
        <%= form.submit 'Increment Votes' %> <!-- Display a submit button labeled 'Increment Votes' for submitting the form -->
      <% end %>
    <% end %>
</ul>