<p>Hello <%= @resource.email %>!</p> <!-- Display a greeting message that includes the user's email. It seems to assume that @resource is a user object with an 'email' attribute. -->

<p>We're contacting you to notify you that your password has been changed.</p> <!-- Display a message notifying the user that their password has been changed. This is likely part of a password reset or change confirmation process. -->
