<p> class = "custom-text">Hello <%= @resource.email %>!</p> <!-- Display a greeting message with the user's email, using a custom text class. -->

<p> class = "custom-text">Someone has requested a link to change your password. You can do this through the link below.</p> <!-- Display a message indicating that someone has requested a link to change the user's password and instructing them to do so through the provided link. -->

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p> <!-- Generate a hyperlink labeled "Change my password" that links to the edit_password_url, including the user resource (likely a user instance) and a reset password token. This token is typically used to authenticate and authorize the password change request. -->

<p> class = "custom-text">If you didn't request this, please ignore this email.</p> <!-- Display a message instructing the user to ignore the email if they did not request a password change. -->

<p> class = "custom-text">Your password won't change until you access the link above and create a new one.</p> <!-- Display a message explaining that the password won't change until the user accesses the provided link and creates a new password. -->
