<p> class = "custom-text">Hello <%= @resource.email %>!</p>

<p> class = "custom-text">Your account has been locked due to an excessive number of unsuccessful sign in attempts.</p>

<p> class = "custom-text">Click the link below to unlock your account:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
