<!DOCTYPE html>
<!-- Declares the document type as HTML5. -->

<html>
  <!-- Opening tag for the HTML document. -->

  <head>
    <!-- The head section contains metadata about the document. -->

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Meta tag specifying the character set as UTF-8 for proper text encoding. -->

  </head>

  <body>
    <!-- The body section contains the main content of the HTML document. -->

    <%= yield %>
    <!-- The yield tag is a placeholder where the content of the specific view will be inserted. -->

  </body>
</html>
<!-- Closing tags for the HTML document. -->